.left_anch {
    -fx-background-color: #2f2c2c;
}

.right_anch {
    -fx-background-color: linear-gradient(to right, #434343 0%, black 100%);
}

.close, .minimize {
    -fx-background-color: transparent;
}

.close:hover {
    -fx-background-color: #b50d0d
}

.minimize:hover {
    -fx-background-color: #b50d0d
}

.input{
-fx-background-color: white;
-fx-background-radius: 15px;
-fx-border-color: transparent;
-fx-border-radius: 15px;
}

.logBtn{
-fx-background-color: #12788d;
-fx-text-fill: white;
-fx-background-radius: 10px;
-fx-border-radius: 10px;
}

.logBtn:hover{
-fx-border-width: 2px;
-fx-border-color: #114d57;
-fx-background-radius: 10px;
-fx-border-radius: 10px;
-fx-font-size: 15px;
}