.close, .minimize {
    -fx-background-color: transparent;
}

.close:hover {
    -fx-background-color: #b50d0d;
}

.minimize:hover {
    -fx-background-color: #b50d0d;
}

.logout {
     -fx-background-color: transparent;
}

.logout:hover {
     -fx-background-color: #aaa;
}